@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section style="background-color:red" class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <h1 class="no-air">SOU UMA PARTIAL VIEW</h1>
@{
    Model.GetPropertyValue<string>("Prop1Mario1");
}
    </div>
</section>