@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section style="background-color:red" class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <h1 class="no-air">SOU UMA PARTIAL VIEW</h1>
@{
var param1 = (string)ViewData["param1"];
var param2 =  (bool)ViewData["param2"];
}

@param1;
@param2;
    </div>
</section>