@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Banner>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
	var items  = Model.GetPropertyValue<IEnumerble<IPublishedContent>>("banner");
	
	foreach(var item in items) {
	<h3>item.GetPropertyValue("")</h3>
	@Umbraco.Field(item,"bodyText")
	}
}
}