@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Banner>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
	var items = Model.Value<IEnumerable<IPublishedElement>>("bannerItems");

        
 foreach(var item in items)
    {
         string title = item.Value<string>("slideTitle");
         string subtitle = item.Value<string>("slideSubtitle");
         string LinkImage = item.Value<string>("slideImage");
         <h1 class="hero-title">@title</h1>
         <h1 class="hero-title">@subtitle</h1>
    }

}