@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Banner>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = null;
     string title = Model.GetPropertyValue<string>("slideTitle");
}

<div>@title</div>
    