@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Banner>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
	var items = Model.Value<IEnumerable<IPublishedElement>>("bannerItems");

        
 foreach(var item in items)
    {
         var title = item.Value<string>("slideTitle");
         var subtitle = item.Value<string>("slideSubtitle");
         var Image = item.Value<IPublishedContent>("slideImage");
         var Link = item.Value<IPublishedContent>("slideLink");
         
         <h1 class="hero-title">@title</h1>
         <h1 class="hero-title">@subtitle</h1>
         <img src=@Image.Url height="300" width="374" srcset="" class="">
         <li> 
             <a href="@Link.Url">@Link.Name</a>
         </li>
    }

}