@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Banner>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
	var items = Model.Value<IEnumerable<IPublishedElement>>("bannerItems");

        
 foreach(var item in items)
    {
        string title = item.GetPropertyValue<string>("slideTitle");

        @*string imageUrl = item.HasValue("slideImage") ? item.GetPropertyValue<IPublishedContent>("slideImage").Url : "/img/carousel.jpg";
        IEnumerable<RelatedLink> links = item.GetPropertyValue<IEnumerable<RelatedLink>>("slideLink");
        RelatedLink link = links != null ? links.FirstOrDefault() : null;*@

         <h1 class="hero-title">@title</h1>
    }

}