@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Search>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

    <div class="container">
                @{
                    var searchQuery = Request.QueryString["query"];

                    if (!string.IsNullOrEmpty(searchQuery))    
                    {
                        <div class="searchresults">
                            <p>Your search results for <strong>@searchQuery</strong></p>
                            <ul>
                                @foreach (var result in Umbraco.ContentQuery.Search(searchQuery))
                                {
                                    <li>
                                        <a href="@result.Url">@result.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                     }else{
                        <h1>No results</h1>
                     }
                }
            </div>