@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{

var content = (ContentModels.Block5)Model.Content;

var ExtraSmallImage = content.Value<IPublishedContent>("extraSmallImage");
var SmallImage = content.Value<IPublishedContent>("smallImage"); 
var LargeImage = content.Value<IPublishedContent>("largeImage"); 


<p>@ExtraSmallImage</p>
<p>@SmallImage</p>
<p>@LargeImage</p>
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  @*<title>Responsive Umbraco Logo image</title>*@
</head>
<body>
  <img 
    srcset="@ExtraSmallImage 270w, @SmallImage 540w, @LargeImage 1081w"
    sizes="(max-width: 270px) 270px,
           (max-width: 540px) 540px,
           1081px"  
    src="@LargeImage" 
    alt="Umbraco Logo" />
</body>
</html>
</html>