@inherits UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var content = (ContentModels.Block3)Model.Content;

<h1>@content.Value("TituloProduto")</h1>
    

}

<ContentModels.Products>