@inherits Umbraco.Web.Mvc.UmbracoViewPage<Product>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
@{
  @Model
    

   @*
    
    if (Model.ProductsTreePicker != null)
            {
                foreach (Product product in Model.ProductsTreePicker)
                {
                <p>@product.ProductName</p>  
                <p>@Model.DefaultCurrency @product.Price.ToString("F")</p> 
                }
            }
    *@

}