@inherits Umbraco.Web.Mvc.UmbracoViewPage<Block3>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
   @* var content = (ContentModels.Block3)Model.Content;*@

    @*<h1>@content.Value("TituloProduto")</h1>*@
    @*<h1>@content.Value("ProductsTreePicker")</h1>*@
    
    
}