@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using Umbraco.Examine;
@using system.Linq;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var content = (ContentModels.Block4)Model.Content;
    var counter = 0;
    var searchQuery = Request.QueryString["search"];
	IEnumerable<PublishedSearchResult> searchResults;


}

<section class="section">
    <div class="container">
        <!-- todo: implement department filter -->
        <!--
        <nav class="nav-bar nav-bar--center nav-bar--air-bottom">
            <a class="nav-link nav-link--black nav-link--active" href="">All</a>
            <a class="nav-link nav-link--black" href="">Marketing</a>
            <a class="nav-link nav-link--black" href="">Package People</a>
            <a class="nav-link nav-link--black" href="">Designers</a>
            <a class="nav-link nav-link--black" href="">Other</a>
        </nav>
        -->
        <div>
            <form action="" method="get">
                <input type="text" placeholder="Search" id="query" name="query" />
                <button>Search</button>
            </form>
        </div>

        <div>
            @{
                var searchTerm = string.Empty;
                searchTerm = string.IsNullOrEmpty(Request["query"])
                    ? string.Empty
                    : Request["query"];

                if (searchTerm == string.Empty)
                {
                }
                else
                {
                    if(ExamineManager.Instance.TryGetIndex("ExternalIndex", out var index))
                    {
                        var searcher = index.GetSearcher();
                        var results = searcher.CreateQuery() // Create a query
 .Field("Description", "Title") // Look for any "Hills" addresses
 .Execute(); // Execute the search
                        if (results.Any())
                        {
                            <ul>
                                @foreach (var result in results)
                                {
                                    if (result.Id != null)
                                    {
                                        var node = Umbraco.Content(result.Id);
                                        <li>
                                            <a href="@node.Url">@node.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No results found for query @searchTerm</p>
                        }
                    }
                    return;
                }
            }
        </div>