@inherits UmbracoViewPage<Product>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
@{
    var content = (ContentModels.Block3)Model.Content;
    
    <h1>@content.Value("Text")</h1>
    
    @content
   
   @*
    
    if (Model.ProductsTreePicker != null)
            {
                foreach (Product product in Model.ProductsTreePicker)
                {
                <p>@product.ProductName</p>  
                <p>@Model.DefaultCurrency @product.Price.ToString("F")</p> 
                }
            }
    *@

}