@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var content = (ContentModels.Block)Model.Content;

<h1>@content.Value("Title")</h1>
<h1>@content.Value("Description")</h1>
    

<picture>
    <source type="image/webp"
        srcset="~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=420&format=webp&quality=90 1x,~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=630&format=webp&quality=90 1.5x,~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=840&format=webp&quality=90 2x"
        media="(max-width: 480px)" sizes="420px" />
    <source
        srcset="~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=420 1x,~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=630 1.5x,~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=840 2x"
        media="(max-width: 480px)" sizes="420px" />
    <source type="image/webp"
        srcset="~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=720&format=webp&quality=90 1x,~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=1080&format=webp&quality=90 1.5x"
        media="(max-width: 768px)" sizes="720px" />
    <source
        srcset="~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=720 1x,~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=1080 1.5x"
        media="(max-width: 768px)" sizes="720px" />
    <source type="image/webp" srcset="~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=960&format=webp&quality=90 1x"
        sizes="960px" />
    <source srcset="~/umbraco/assets/thumbnails/header.jpg?mode=pad&width=960 1x" sizes="960px" />
    <img src="~/umbraco/assets/thumbnails/header.jpg" alt="Umbraco logo" />
</picture>

}