@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web
@{

    
}

<h1>@content.Value("menu")</h1>