@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{

var content = (ContentModels.Block6)Model.Content;
    
}


@{ 

var siteSettings = Umbraco.ContentQuery
                               .ContentAtRoot()
                               .DescendantsOrSelfOfType("settings")
                               .FirstOrDefault();
                               
var NumMenus = siteSettings.Value<int>("numberOfMenus");

}

<h1>@content.Value("teste")</h1>