@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{

<h1>@content.Value("TituloProduto")</h1>


      @if (Model.FeaturedProducts != null)
            {
                foreach (Product product in Model.FeaturedProducts)
                {
                <p>@product.ProductName</p>
                }
            }
    

}

<ContentModels.Products>