@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{

}

    <form action="" method="GET">
        <input type="text" placeholder="Search..." name="query">
        <button>Search</button>
    </form>
    
    
    @{
        var searchQuery = Request.QueryString["query"];
    
       
    }