@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web
@{

var content = (ContentModels.Block6)Model.Content;

var site = Model.Root();
var selection = site.Children.Where(x => x.IsVisible());

var siteSettings = Umbraco.ContentQuery
                               .ContentAtRoot()
                               .DescendantsOrSelfOfType("settings")
                               .FirstOrDefault();
                               
var NumMenus = siteSettings.Value<int>("numberOfMenus");

    
}

<h1>@content.Value("menu")</h1>