@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{

var content = (ContentModels.Block)Model.Content;
    
}

<style type="text/css">
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
</style>


<div id="align-to-center">   
 <section class="center lazy">   
    <h1>@content.Value("Title")</h1>
    <h1>@content.Value("Description")</h1>
 </section>
</div> 