@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{

}
<div class="container">
    <form action="/blocklist" method="GET">
        <input type="text" placeholder="Search..." name="query">
        <button>Search</button>
    </form>
    
    
    @{
        var searchQuery = Request.QueryString["query"];
    
        if (!string.IsNullOrEmpty(searchQuery))    
        {
            <div>
                <p>Your search results for <strong>@searchQuery</strong></p>
                <ul>
                    @foreach (var result in Umbraco.ContentQuery.Search(searchQuery))
                    {
                    <p>@result</p>
                        <li>
                          <a href="@result.Url">@result.Name</a>    
                        </li>
                    }
                </ul>
            </div>
        }
    }
</div>