@inherits UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var eventDate = (ContentModels.EventDate)Model.Content;
}

<div class="col-md-6">
</div>