@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


    @*
    Macro to display child pages below the root page of a standard website.
    Also highlights the current active page/section in the navigation with
    the css class "current".
*@

@{

     var root = CurrentPage.AncestorOrSelf(1); 

}

 <div id="navigation" class="navbar navbar" role="navigation">
   <div class="container">

<ul class="nav navbar-nav">

@foreach (var subpage in page.Children.Where("Visible"))

                 {
                    <li>        
                        <a href="@subpage.Url">@subpage.Name</a></li>
                        foreach (var childPage in subpage.Children.Where("Visible"))
        {
      <ul>
          <li>
         <a href="@childPage.Url">@childPage.Name</a>
          </li>
    </ul>     
        }
                 }
   </li>


}
</ul>



            </div>

                  </div><!--navigation-->